/* html */

html {
    margin: auto;
    padding: 10px;
    
}

/*body*/

body {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    background-color: whitesmoke;
 
}

/*h1*/
body h1{
    text-align: center;
    font-size: 2em;
}

/*h3*/
main h3{
    display:inline;
    font-size: 16px;
    font-weight: 100;
}

/*FizzBuzzContainers*/
#FizzBuzzContainers{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . .";   
}

/*@media*/

@media (max-width: 576px) {
    #FizzBuzzContainers {
        grid-template-columns: 1fr 1fr;
        width: 300px;
        height: 100%;
        margin : 0 auto;
        background-color: whitesmoke;
    }

    .NavigatorContainer {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        min-height: 400px;
        flex-wrap: wrap;
        flex-direction: column;
    }
 
}  


/*fizbuz class*/
.fizbuz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:whitesmoke;
    background-color: #ffa632c5;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#a06d2aa8;
    text-align:center;
}

/*fiz class*/
.fiz{
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:whitesmoke;
    background-color: #77da4994;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#4f8a3386;
    text-align:center;
}

/*buz class*/
.buz{
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:whitesmoke;
    background-color: #5f83e4cb;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#465fa59f;
    text-align:center;
}

/*num class*/
.num{
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:whitesmoke;
    background-color: rgba(175, 159, 159, 0.685);
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:rgba(59, 57, 57, 0.61);
    text-align:center;
}

/*ColourContainer*/
#ColourContainer{
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*!!!!!NavigatorContainer*/
.NavigatorContainer{
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #424344;
    font-size: 1.5em;
    border-radius: 4px;
}

/*MenuContainer*/
    input, button {
        font-size: 1em;
        border-radius: 5px;
        width: 230px;
        text-align: center;
    }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        }

        #FizzBtn {
            background-color: #77da4994; 
            color: whitesmoke; 
            border: 5px solid #4f8a3386;
        }
            
        #BuzzBtn {
            background-color: #5f83e4cb;
            color: whitesmoke;
            border: 5px solid #465fa59f;
        }
            
        #FizzBuzzBtn {
            background-color: #ffa632c5; 
            color: whitesmoke; 
            border: 5px solid#a06d2aa8;
        }
            
        #RefreshBtn{
            background-color: #febf04;
            color: whitesmoke;
            border: 5px solid #febf04;
        }
            
        #ResetBtn {
            background-color: #008CBA; 
            color: whitesmoke; 
            border: 5px solid#008CBA;
        }
.hidden {
    display: none;

}